
@font-face {
    font-family: "Kiddo Handwriting";
    src: url(../fonts/KiddoHandwriting.ttf) format("truetype");
}
@font-face {
    font-family: "ZueyHandwriting-Regular";
    src: url(../fonts/ZueyHandwriting-Regular.otf) format("truetype");
}


